/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************CUstom Code***********/

*,
*::before,
*::after{
    box-sizing:border-box;
}

body{
    font-family: 'Karla', sans-serif;
}

h1,h2 ,h3,h4,h5,h6{
    font-family: 'DM Serif Display', serif;
}
.container{
    max-width:1400px;
    margin:0 auto;
     
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-start{
    align-items: flex-start;
}

.col1{
    flex:0 1 45%;
    
}


.header{
    background-color: #ffff;
    padding:20px 0;
}

.proInsure{
    font-size: 42px;
    color:#2c2640;
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    text-decoration: none;
}

.btn{
    border:1px solid #7a797f;
    padding:22px 16px;
    border-radius:5px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.nav a{
    color:#7a797f;
    font-size: 20px;
    text-decoration:none;
    text-transform: uppercase;
    padding:10px;
    font-weight: bold;
}

.section1{
    background-color: #2c2640;
    padding:60px 0;
}


.line{
    width:150px;
    height:2px;
    background-color: rgb(245, 240, 240);
    margin-bottom: 40px;
    margin-top:80px;    
    
}
.section1-heading{
    color:#ffff;
    font-size: 60px;
    margin-bottom: 40px;

}

.section1-para{
    color:#c3c2c7;
    font-size: 20px;
    margin-bottom: 60px;
}


.btn2{
    color:#ffff;
    font-size: 24px;
    font-weight: 700;
    border:2px solid white;
    padding:14px 18px;
    text-decoration: none;
    border-radius:4px;
    text-transform: uppercase;
}

.col1 .pic1{
    width:100%;
    margin-bottom: -200px;
}

/*********SEction2**************/

.section2{
    background-color: #ffff;
    padding:60px 0;
}

.heading{
    color:#2c2640;
    font-size: 60px;
    margin:40px 0 ;

}

.sec2-para{
    color:#7a797f;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0.5;
    margin-bottom: 20px;
}

.col2{
    flex:0 1 45%;
    
}

.col2 .pic2{
    margin-top:100px;
    width:100%;
}

.col2 .sec2-btn{
    color:#7a797f;
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top:20px;
}

/*********Section3***********/


.col3{
    flex:0 1 30%;

        
}

.col3 .icon{
    width:60px;
    height:60px;
    background-color: #8bb4ec;
    border-radius:50%;
    font-size: 24px;
    color:#ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.col3 h3{
    font-size: 36px;
    color: #2c2640;
    margin-bottom: 30px;
}

.col3 p{
    font-size: 22px;
    color:#7a797f;
    margin-bottom: 80px;
}

/*************SEction4**********/

.section4 .container{
    background-color: #2c2640;
    padding: 100px 30px;
    margin-bottom: 40px;
}

.col4 h3{
    color:#ffff;
    font-size: 50px;
    margin-left: 20px;

}

.col4 .btn2{
  margin-right: 20px;
}
/************Footer*********/
.footer{
    margin-top:60px;
}
.link{
  font-size:32px;
  color:#7a797f;
  padding:20px;
  
}

.footer-nav{
    display: flex;
    justify-content: center;
}
.footer-nav a{
    color:#7a797f;
    font-size: 24px;
    text-decoration:none;
    padding:20px;
    font-weight:500;
    
}

.end{
    background-color: #2c2640;
    padding:30px 0;
    color:#b7b7b9;
    font-size: 18px;
    display: flex;
    justify-content: center;
}